body{
    background-color: antiquewhite;
}
.header{
    background-color: blue;
    padding: 20px;
    position: relative;
    top: 200px;
}
.header > span{
    position: relative;
    left: 500px;
    margin-left: 20px;
    margin-right: 20px;
   
}
a{
    color: aliceblue;
    text-decoration: none;
}